body {
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    font-size: 16px;
    color: black;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

header {
    background: url("./images/header-bg.png")no-repeat center top/cover;
    padding-top: 57px;
    height: 900px;
}

.nav {
    margin-bottom: 216px;

    display: flex;
    align-items: center;
}

.logo {
    margin-right: 69px;
}

ul {
    display: flex;

    margin: 0;
    padding: 0;

    list-style-type: none;
}

.btn-home,.btn-about,.btn-tickets,.btn-contacts {
    text-decoration: none;
    color:#FFFFFF;
    text-transform: uppercase;
    margin-right: 40px;
    letter-spacing: 0.1em;

    transition: 0.4s ease-in;
}

.btn-home:hover,
.btn-about:hover,
.btn-tickets:hover,
.btn-contacts:hover {
    color: black;
}

.tel {
    margin-left: auto;
    text-decoration: none;
    color: #FFFFFF;
}

.offer-text {
    margin: 0 0 -9px 0;
    padding: 0;

    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.1em;
}

.offer-heading {
    margin: 0 0 19px 0;
    padding: 0;

    color: #FFFFFF;

    text-transform: uppercase;
    font-size: 100px;
    line-height: 147px;
    letter-spacing: 0.1em;
}

.tickets-btn {
    display: inline-block;
    padding: 16px 50px 16px 50px;
    max-width: 238px;

    color: #FFFFFF;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.1em;

    border: solid;
    border-width: 1px;
    border-color: #FFFFFF;

    transition: 0.4s ease-in;
}

.tickets-btn:hover {
    color: black;
    background-color: #fff;
}

section {
    padding-top: 113px;
}

.about {
    margin-bottom: 114px;
}

h2 {
    margin: 0 0 58px 0;
    padding: 0;

    font-size: 50px;
    line-height: 73px;
    text-transform: uppercase;
}

.articles {
    display: flex;
    margin-bottom: 67px;

}

h3 {
    margin: 0 0 32px 0;
    padding: 0;

    font-size: 25px;
    line-height: 37px;
    text-transform: uppercase;
}

.article-1 {
    margin-right: 36px;
}

.article-1 p,.article-2 p {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

.images {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: black;
    height: 100px;
}

.copyright {
    margin: 0;
    padding: 40px 0 0 0;
    

    text-transform: uppercase;
    color: #fff;
}
